<div class="carousel slide">
  <carousel-navigation class="navigation" [direction]="'prev'" (navigate)="onNavigate($event)"></carousel-navigation>
  <div class="carousel-inner" role="listbox">
      <!-- View component  -->
      <carousel-item>
        <img src="https://unsplash.it/200/?image=4" alt="">
      </carousel-item>
      <carousel-item>
        <img src="https://unsplash.it/200/?image=5" alt="">
      </carousel-item>
       <!-- end View component  -->      
      <ng-content></ng-content> <!-- Conten components  -->
  </div>
  <carousel-navigation class="navigation" [direction]="'next'" (navigate)="onNavigate($event)"></carousel-navigation>
  <ul class="bullets" [hidden]="!carouselItems.length">
    <li *ngFor="let item of carouselItems; let i = index">
      <button [ngClass]="{'active':i + 1 === currentIndex}" (click)="navigateByIndex(i)">{{i + 1}}</button>
    </li>
  </ul>
</div>