<div class="carousel slide">
  <carousel-navigation class="navigation" [direction]="'prev'" (navigate)="onNavigate($event)"></carousel-navigation>
  <div class="carousel-inner" role="listbox">
      <ng-content></ng-content>
  </div>
  <carousel-navigation class="navigation" [direction]="'next'" (navigate)="onNavigate($event)"></carousel-navigation>
  <ul class="bullets">
    <li *ngFor="let item of carouselItems; let i = index">
      <button [ngClass]="{'active':i + 1 === currentIndex}" (click)="navigateByIndex(i)">{{i + 1}}</button>
    </li>
  </ul>
</div>